/* 支持 Firefox, Chrome, Safari, Opera, IE8+ 和老的Android浏览器 */
*{
	-webkit-box-sizing:border-box;
	   -moz-box-sizing:border-box;
	        box-sizing:border-box; 
	margin:0;
	padding:0;
}
body{
	font: 100%/165% 微软雅黑;
	min-width: 600px;
}
p{
	margin-bottom: .8em;
	font-size: .8em;
}


main{
	background-color: #eee;
}
.left, .middle, .right{
	background-color: white;
}
body, main, .left, .middle{
	padding:20px;
}
main, .left, .middle, .right, img{
	border:1px solid #999;
}
img.teamLogo{
	float:left;
}
span{	
	margin-left: 20px;
	font-size: .8em;
	vertical-align: top;
}
img.perLogo{
	display: block;  /*解决图片底部留白问题*/
	width:80px;
	height:80px;
	margin:20px;
}

.left{
	width:200px;
}
.right{
	width:120px;
}
.middle{
	margin-left: 220px;
	margin-right: 140px;
}


/*浮动布局,要改变浮动元素在html中的位置*/
main{
	overflow: auto;  /*清除浮动，保证高度始终是子元素中的最高高度*/
	zoom:1;          /*为了支持IE6*/
}
.left{
	float:left;
}
.right{
	float:right;
}


/*flex布局,在没有设置高度时，三栏的高度都和其中最高的那个一样
main{
	-webkit-display:flex;
	        display:flex;
}
.left,.right{
	-webkit-flex:none;
	        flex:none;
}
.middle{
	-webkit-flex:1;
	        flex:1;
}
.middle{
	margin-left: 20px;
	margin-right: 20px;
}*/


/*绝对定位布局，父元素的高度不能自适应子元素的最高高度
main{
	position: relative;
}
.left{
	position:absolute;
	top:20px;
	left:20px;
}
.right{
	position:absolute;
	top:20px;
	right:20px;
}
*/

